body {
    display: flex;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;


    .box {
        border: 5px solid palevioletred;
        height: 500px;
        width: 550px;
        background-color: moccasin;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        padding: 50px;
    }

    .img {
        align-self: center;
        padding: 0;
        border: 2px solid rgb(57, 37, 238);
        margin-bottom: 20px;
    }

    .para1 {
        font-size: 16px;
        max-height: 200px;
        overflow-y: auto;
        width: 100%;
        scrollbar-width: 3px;
    }

    .price {
        font-size: 24px;
        color: darkgreen;
        margin-top: 20px;
        
    }


}